---
import { SignedIn, SignedOut } from "@clerk/astro/components";
import Layout from "../layouts/Layout.astro";
import DashboardComponent from '../components/dashboard/Dashboard';
---

<Layout>
  <SignedIn>
	  <DashboardComponent client:load  />
  </SignedIn>
  <SignedOut>
    <p class="sign-in-required">
      You need to sign in before you access your dashboard
    </p>
  </SignedOut>
</Layout>

<style>
  .sign-in-required {
    text-align: center;
    font-size: 1.25em;
    color: #d00;
    background: #fff;
    width: fit-content;
    margin: auto;
    padding: 8px 12px;
    border-radius: 8px;
  }

  .dashboard {
    width: 100%;
    text-align: center;
  }
</style>

<style is:global>
	body {
		background: #fff;
	}
</style>