---
import Layout from '../layouts/Layout.astro'
---


<Layout>
	<div class="container">
		<h1>FAQ</h1>
		<p>Not implemented yet</p>
	</div>
</Layout>

<style>
	.container {
		margin-top: 4rem;
		text-align: center;
	}
</style>