---
import Logo from "../components/Logo.astro";
import UrlShortenForm from "../components/shortener/UrlShortenForm";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="container">
    <Logo />

    <h1>
      <span class="text-primary">Shorten Your Links,</span>
      <span>Track Their Traffic</span>
    </h1>

    <UrlShortenForm client:load />
  </div>
</Layout>

<style>
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 1.5rem;
  }

  h1 {
    font-size: 1.75em;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .text-primary {
    color: #04a;
  }

  @media (min-width: 360px && max-width: 767px) {
    h1 {
      font-size: 2em;
    }
  }

  @media (min-width: 768px) {
    h1 {
      font-size: 2.5em;
    }
  }
</style>
