<a class="dashboard-icon-link" href="/dashboard">Dashboard</a>

<style>
  .dashboard-icon-link {
    color: black;
    background-color: #e0e9f288;
    border: 1px solid #0267;
    padding: 0.3em 0.5em;
    border-radius: 3px;
    font-size: 0.8em;
    text-align: center;
    text-decoration: none;
  }

  @media (min-width: 768px) {
    .dashboard-icon-link {
      display: none;
    }
  }
</style>
