<a class="dashboard-link" href="/dashboard">Dashboard</a>

<style>
  .dashboard-link {
    color: black;
    background-color: #e0e9f288;
    border: 1px solid #0267;
	min-height: 40px;
	display: flex;
	align-items: center;
    padding: 0em 0.6em;
    border-radius: 3px;
    font-size: 0.85em;
    text-decoration: none;
	margin: 0;
  }

  @media (min-width: 768px) {
    .dashboard-link {
      display: none;
    }
  }
</style>
