---
import './Navbar.css'
import {
  SignedIn,
  SignedOut,
  UserButton,
  SignInButton,
} from "@clerk/astro/components";
import DashboardLink from "./DashboardLink.astro";
---

<nav class="navbar">
  <div class="brand">
    <a href="/">SMOL</a>
  </div>
  <div class="links">
    <a href="/">Home</a>
    <SignedIn>
      <a href="/dashboard">Dashboard</a>
    </SignedIn>
  </div>
  <div class="right">
    <SignedOut>
      <SignInButton
        mode="modal"
        class="login-button"
        forceRedirectUrl="/dashboard"
        signUpForceRedirectUrl="/"
      />
    </SignedOut>
    <SignedIn>
      <DashboardLink />
      <div class="user-info">
        <UserButton
          appearance={{
            elements: {
              userButtonAvatarBox: {
                height: "36px",
                width: "36px",
              },
            },
          }}
        />
      </div>
    </SignedIn>
  </div>
</nav>
