---
import {
  SignedIn,
  SignedOut,
  UserButton,
  SignInButton,
} from "@clerk/astro/components";
import DashboardIconLink from "./DashboardIconLink.astro";
---

<nav class="navbar">
  <div class="brand">
    <a href="/">SMOL</a>
  </div>
  <div class="links">
    <a href="/">Home</a>
    <SignedIn>
      <a href="/dashboard">Dashboard</a>
    </SignedIn>
    <a href="/faq">F.A.Q.</a>
  </div>
  <div class="right">
    <SignedOut>
      <SignInButton
        mode="modal"
        class="login-button"
        forceRedirectUrl="/dashboard"
        signUpForceRedirectUrl="/"
      />
    </SignedOut>
    <SignedIn>
      <DashboardIconLink />
      <div class="user-info">
        <UserButton
          appearance={{
            elements: {
              userButtonAvatarBox: {
                height: "36px",
                width: "36px",
              },
            },
          }}
        />
      </div>
    </SignedIn>
  </div>
</nav>

<style>
  .navbar {
    height: 4rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 0.5rem 1.5rem;
    background-color: #fbfcff;
    box-shadow: 1px 1px 4px #6666;
    font-size: 1.25em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
  }

  .navbar a {
    text-decoration: none;
    margin: 0 1em;
    color: #000;
    transition: color 150ms ease-in-out;
    &:hover {
      color: #27c;
    }
  }

  .navbar .brand {
    font-weight: bold;
    font-size: 1.5em;
    color: #013;
    margin: 0;

    & a {
      margin: 0;
    }
  }

  .navbar .links {
    display: none;
  }

  .navbar .login-button {
    background-color: #27c;
    color: #fff;
    font-size: 0.85em;
    padding: 0.5em 1em;
    border-radius: 0.25em;
    border: none;
    cursor: pointer;
    transition: background-color 150ms ease-in-out;
    &:hover {
      background-color: #16a;
    }
  }

  .navbar .right {
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 0.75em;
  }

  .navbar .user-info {
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    min-width: 36px;
  }

  @media (min-width: 768px) {
    .navbar {
      padding: 0.5em 2em;
      grid-template-columns: 1fr 1fr 1fr;
    }
    .navbar .links {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
</style>
