<div class="logo">SMOL</div>

<style>
  .logo {
    width: 150px;
    height: 100px;
    background: #027;
    color: white;
    display: grid;
    place-items: center;
    font-size: 2rem;
    font-weight: bold;
    clip-path: polygon(0% 0%, 80% 0%, 100% 20%, 100% 100%, 20% 100%, 0% 80%);
	border-radius: 3px;
  }
</style>
