---
import Navbar from "../components/navbar/Navbar.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>SMOL, the URL Shortener with Tracking for free!</title>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- Poppins: -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <!-- / Fonts -->
  </head>
  <body>
    <Navbar />

    <main>
      <slot />
    </main>
  </body>
</html>

<style is:global>
  html,
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    font-family: Poppins, sans-serif;
  }

  * {
    box-sizing: border-box;
  }

  body {
    background: linear-gradient(145deg, #e0f7facc, #dbeefbcc, #90caffbb);
    color: #333;
  }
</style>

<style>
  main {
    padding-top: 6rem;
  }
  @media (min-width: 768px) {
    main {
      padding-top: 8rem;
    }
  }
</style>
